/*!
 * Webida (http://webida.org)
 */

.wb-logo {
    width: 80px;
    height: 54px;
}

.wb-footer {
    height: 60px;
}

.container .credit {
    margin: 20px 0;
}

.wb-wide {
    padding: 0 15px;
}

@media(min-width:768px) {
    .wb-wide {
        margin: 0 0 0 0px;
        padding: 0 30px;
    }
}

.navbar-top-links a {
    margin: 10px 0px 10px 0px;
}

.table > tbody > tr.tr-narrow > td {
    padding-top: 1px;
    padding-bottom: 1px;
}


.table > tbody > tr.tr-narrow > td > button.btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

.nav>li>a.side-menu-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #606060;
}

.workspace-item-title {
    font-weight: bold;
}

#workspace-panel > div .panel-body {
    height: 100px;
    overflow-y: auto;
}

.webida-hidden {
    display: none;
}

#new-workspace div.panel-heading {
    padding-top: 4px;
    padding-bottom: 4px;
}

.delete-warning:hover {
    color: #C00000;
}

.workspace-status { 
    font-size: medium;
    color: gray;
}

.quota-usage {
    color: gray;
    margin-left: 3px;
}

.workspace-usage { 
    color: gray;
    margin-left: 3px;
    margin-right: 10px;
}

.project-usage { 
    color: gray;
    margin-left: 3px;
    margin-right: 10px;
}

.deploy-usage { 
    color: gray;
    margin-left: 3px;
    margin-right: 10px;
}