@font-face {
  font-family: "CoreSansN25";
  src: url('../fonts/CoreSansN25.eot');
  src: url('../fonts/CoreSansN25.eot?#iefix') format('embedded-opentype'), url('../fonts/CoreSansN25.woff') format('woff'), url('../fonts/CoreSansN25.ttf') format('truetype');
}
@font-face {
  font-family: "CoreSansN35";
  src: url('../fonts/CoreSansN35.eot');
  src: url('../fonts/CoreSansN35.eot?#iefix') format('embedded-opentype'), url('../fonts/CoreSansN35.woff') format('woff'), url('../fonts/CoreSansN35.ttf') format('truetype');
}
@font-face {
  font-family: "CoreSansN45";
  src: url('../fonts/CoreSansN45.eot');
  src: url('../fonts/CoreSansN45.eot?#iefix') format('embedded-opentype'), url('../fonts/CoreSansN45.woff') format('woff'), url('../fonts/CoreSansN45.ttf') format('truetype');
}
@font-face {
  font-family: "CoreSansN55";
  src: url('../fonts/CoreSansN55.eot');
  src: url('../fonts/CoreSansN55.eot?#iefix') format('embedded-opentype'), url('../fonts/CoreSansN55.woff') format('woff'), url('../fonts/CoreSansN55.ttf') format('truetype');
}
