html,
body {
  height: 100%;
}
.container-login {
  width: 100%;
  height: 100%;
}
.container-login .container-section .login-box {
  position: relative;
}
.container-index .header-box {
  position: relative;
  width: 100%;
}
.container-index .header-box .container-box {
  max-width: 1190px;
  margin: 0 auto;
  position: relative;
}
.container-index .container-section .container-box {
  max-width: 1190px;
  margin: 0 auto;
  padding: 70px 10px;
}
.container-index .footer .container-box {
  max-width: 1190px;
  margin: 0 auto;
  padding: 10px 0;
}
.container-main {
  height: 100%;
  min-width: 800px;
}
.container-main .header-box {
  position: relative;
  width: 100%;
}
.container-main .header-box .container-box {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.container-main article {
  height: 100%;
}
.container-main article .container-section {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container-main article .container-section .container-box {
  max-width: 1190px;
  margin: 0 auto;
  padding: 70px 10px;
  height: 100%;
}
